*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } 
  
  body {
    background: #fff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5%;
    width: 60%;
    height: 800px;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
    margin: 100px auto;
  }
  
  .bloc-tabs {
    display: flex;
  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: #8B1200;
  }
  
  
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }




  /* ----------------------------------- */ /* Avatar and User name */  /* ----------------------------------- */



  .container1{
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 20%;
      background: #fff;
      height: 800px;
      position: relative;
      left: 10%;
      border: 2px solid rgba(0, 0, 0, 0.274);
  }


  .containernew{
      align-items: center;
      display: flex;
      width: 100%;
      height: 100%;
  }

  .user-name1{
      align-items: center;
      display: flex;
      position: relative;
      top: -15%;
  }



    /* ----------------------------------- */ /* Forms */  /* ----------------------------------- */

  .row-tabs{
      width: 100%;
      height: 100%;
      align-items: center;
      position: relative;
      padding: 0px 15px;
      top: 5%;

  }


    /* .form-control{
        width: 100%;
        height: 15vw;
    } */


    .form-control-name{
        align-items: center;
        padding: 15px;
        padding-left: 1.5 rem;
        font-size: 1rem;
        border: none;
        outline: none;
        box-sizing: border-box;
        box-shadow: 0 0 15px 4px rgb(0 0 0 / 6%);
        border-radius: 10px;
        line-height: normal;
        width: 100%;
        margin: 20px 0px;
    } 

    .form-control-aboutme{
        align-items: center;
        padding: 15px;
        padding-left: 1.5 rem;
        font-size: 1rem;
        border: none;
        outline: none;
        box-sizing: border-box;
        box-shadow: 0 0 15px 4px rgb(0 0 0 / 6%);
        border-radius: 10px;
        line-height: normal;
        width: 100%;
        margin: 20px 0px;
        height: 15vw;
   
    } 


 .btntabs{
        align-items: center;
        box-sizing: border-box;
        line-height: 1.333333;
        background-color: transparent;
        padding: 10px 16px;
        border-radius: 6px;
        font-size: 20px;
        cursor: pointer;
        white-space: inherit;
        transition: all .5s;
        border: 1px solid;
        color: #8B1200;
        position: relative;
        margin: 40px 40px;
        width: 40%;


    }

    .btntabs:hover{
        background-color: #7e8996;
    }