.tableMisProyectos{
    width: 90%;
    position: relative;
    left: 5%;
    top: 10%;
    /* z-index: -1; */
    overflow: hidden;
    z-index: 1;
    margin:0;
    padding:0;


}
.tableProyectosGenerales{
    width: 90%;
    position: relative;
    left: 5%;
    top: 10%;
    /* z-index: -1; */
    overflow: hidden;
    z-index: 1;
    margin-top: 50;


}

.tableSolicitudes{
    width: 90%;
    position: relative;
    left: 5%;
    top: 10%;
    /* z-index: -1; */
    overflow: hidden;
    z-index: 1;

}

.tablePerfilAlumnos{
    width: 90%;
    position: relative;
    left: 5%;
    top: 10%;
    /* z-index: -1; */
    overflow: hidden;
    z-index: 1;

}

.btn-insertar{
    background-color: #e3e3e3;
    width: 10%;
    position: relative;
    top: 30%;
    left: 90%;
    padding: 0 18px 0 18px;
    bottom: 20;
    border-radius: 8px;
    font-size: 15px;

}

.spinner-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    mix-blend-mode: luminosity;
    margin-top: 100px;
    margin-bottom: 100px;
}
